html, body, #root {
  background-color: #F9F9F9;
  
}

#root {
  display: flex;
  justify-content: center;
}

#signin-container {
  margin-top: 50px;
  display: flex;
  min-width: 400px;
  flex-direction: column;
  border: 1px solid #2A3795;
  padding: 15px 15px;


}

.text-field {
  margin-bottom: 15px;
}

.App {
  max-width: 935px;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

#create-btn {
  position: fixed;
  bottom: 50px;
  right:75px;
}

.modal {
  background-color: white;
  width: 400px;
  display: flex;
  flex-direction: column;

  
}
.modal-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
#link-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #E6E6E6;
 
}

#video {
  height: 500px;
  border: none;
}

#link-header {
  display: flex;
  padding-left: 5px;
}

#video-link {
  padding-left: 5px;
}

#profile-container {
  max-width: 960px;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}


#profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#profile-content-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#follow-container {
  display: flex;
}

#user-video-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  margin-top: 20px; 
}